body{
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-weight: bold;
}
.login-container{
	top: 30%;
	right: -25%;
	position: absolute;
}

.container-register{
	top: 30%;
	right: -25%;
	position: absolute;
}

a{
	color: #3490dc;
	text-decoration: none;
}

.btnRegis{
	margin-left: 300px
}

.btnLog{
	margin-left: 270px
}